<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{company_name}} Careers</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.6/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style type="text/tailwindcss">
    @layer utilities {
      h2 {
        font-size: 32px;
        font-family: Roboto;
        text-align: center;
        color: rgb(56 189 248);
        font-weight: normal; 
      }
    }
  </style>
</head>
<body>
  {% include 'nav.html' %}
  <main class="max-w-3xl mx-auto container ">
     <img src="https://quinn-careers-website.timchen24.repl.co/static/banner.jpg" alt="banner" class="object-cover w-full h-96">
    <h1 class="font-mono text-5xl text-sky-400 text-center m-3">Quinn Careers</h1>
 
  <h2>About Quinn</h2>
  
  <section class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:grid-rows-1 flex flex-col items-center ">
    <div> <p class="leading-normal">Quinn Careers is a job search website that connects job seekers with employers across various industries and job functions. The platform offers a user-friendly interface that enables job seekers to create profiles, search and apply for jobs, and receive alerts for new job postings. Quinn Careers partners with a wide range of employers, from small startups to large corporations, to provide job seekers with a diverse array of job opportunities. Whether you are a recent graduate or an experienced professional, Quinn Careers can help you find your next career opportunity.</p></div>
   
   <div class="h-96 carousel carousel-vertical rounded-box center">
  <div class="carousel-item h-full">
    <img src="https://th.bing.com/th/id/OIG.IkfOuRHhwhRzXmOnFN9y?pid=ImgGn" />
  </div> 
  <div class="carousel-item h-full">
    <img src="https://th.bing.com/th/id/OIG.d5iOOm0LOySUUPqAIJOU?pid=ImgGn&w=1024&h=1024&rs=1" />
  </div> 
  <div class="carousel-item h-full">
    <img src="https://th.bing.com/th/id/OIG.MOKIukutSkdprrBoI.os?pid=ImgGn" />
  </div> 
  <div class="carousel-item h-full">
    <img src="https://th.bing.com/th/id/OIG.NRPcEobTEDOFqhY8_nd2?pid=ImgGn" />
  </div>
  </div>
  </section>
 

  <h2>Open positions</h2>
  <div>{% for job in jobs %}
    {% include 'jobitem.html' %}
    {% endfor %}
  </div>
  <div class="text-center">
    <a class="btn glass mt-2" href="mailto:hello@jovian.ai?subject=Question%20about%20Job%20Openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20questions%3A%20%3Cmy%20quesions%20here%3E%0D%0A">Contact Us</a>
    <p class="my-2">Copyright 2022, Quinn </p>
  </div>
  </main>
  
<footer>{% include 'footer.html' %}</footer>
</body>
  
</html>