<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quinn Careers</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.6/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style type="text/tailwindcss">
    @layer utilities {
      h2 {
        font-size: 32px;
        font-family: Roboto;
        text-align: center;
        color: rgb(56 189 248);
        font-weight: normal; 
      }
    }
  </style>
</head>
<body>
  <main class="max-w-3xl mx-auto">
    <h1 class="font-mono text-5xl text-sky-400 text-center">Quinn Careers</h1>
  <img src="https://quinn-careers-website.timchen24.repl.co/static/banner.jpg" alt="banner" class="object-cover w-full h-96">
  <h2>About Quinn</h2>
  <p>Quinn Careers is a job search website that connects job seekers with employers across various industries and job functions. The platform offers a user-friendly interface that enables job seekers to create profiles, search and apply for jobs, and receive alerts for new job postings. Quinn Careers partners with a wide range of employers, from small startups to large corporations, to provide job seekers with a diverse array of job opportunities. Whether you are a recent graduate or an experienced professional, Quinn Careers can help you find your next career opportunity.</p>
  <h2>Open positions</h2>
  <p>TODO - Show the jobs here</p>
  <div class="text-center">
    <button class="btn glass">Contact Us</button>
    <p>Copyright 2022, Quinn </p>
  </div>
    
  </main>
  

</body>
  
</html>